# Postgres (docker-compose : service db)
# PowerShell : $env:DATABASE_URL="postgresql://clubflow:clubflow@localhost:5432/clubflow"
# cmd.exe : set DATABASE_URL=postgresql://clubflow:clubflow@localhost:5432/clubflow
DATABASE_URL="postgresql://clubflow:clubflow@localhost:5432/clubflow"

# API (optionnel)
# PORT=3000
