NODE_ENV=production
PORT=5275
VITRINE_API_URL=https://staging.api.clubflow.topdigital.re/graphql
VITRINE_PUBLIC_BASE_DOMAIN=staging.clubflow.topdigital.re
NEXT_PUBLIC_VITRINE_API_URL=https://staging.api.clubflow.topdigital.re/graphql
