NODE_ENV=production
PORT=5276
NEXT_PUBLIC_LANDING_API_URL=https://staging.api.clubflow.topdigital.re/graphql
NEXT_PUBLIC_LANDING_ADMIN_URL=https://staging.app.clubflow.topdigital.re
NEXT_PUBLIC_LANDING_VITRINE_BASE=staging.clubflow.topdigital.re
NEXT_PUBLIC_HCAPTCHA_SITE_KEY=10000000-ffff-ffff-ffff-000000000001
LANDING_API_URL=https://staging.api.clubflow.topdigital.re/graphql
LANDING_ADMIN_URL=https://staging.app.clubflow.topdigital.re
LANDING_VITRINE_BASE=staging.clubflow.topdigital.re
